<!doctype html>
<html lang="en">

<head>

  <!--====== Required meta tags ======-->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--====== Title ======-->
  <title>Eparticipation-Home</title>

  <!--====== Favicon Icon ======-->
 




</head>

<body>

<!--====== PRELOADER PART START ======-->

<!--====== PRELOADER PART ENDS ======-->

<!--====== HEADER PART START -->

<header class="header-area">
  <div class="header-top pb-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-top-content d-md-flex justify-content-between align-items-center">
            <div class="header-info pt-10  d-md-block">
             <p style="color:white;">République islamique de Mauritanie  | Portail de la participation publique </p>
                
                
             
            </div> <!-- header info-->

            <div class="header-social text-center text-md-right pt-10">
              <ul>
                <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                  
                <li><a href="#">FR</a></li>
                <li><a href="#">AR</a></li>
              </ul>
            </div> <!-- header social -->
          </div>
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- header-top -->
    
    
    
    
    
    

<!--====== HEADER PART START 

<header class="header-area">
  <div class="header-top pb-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-top-content d-md-flex justify-content-between align-items-center">
            <div class="header-info pt-10 d-none d-md-block">
              <ul>
                <li><i class="lni-envelope"></i> info@contact.com</li>
                <li><i class="lni-mobile"></i> +983 2222 4444</li>
                <li><i class="lni-alarm-clock"></i> 8AM to 6PM (Sun - Fri) Sat Off</li>
              </ul>
            </div> <!-- header info

            <div class="header-social text-center text-md-right pt-10">
              <ul>
                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                <li><a href="#"><i class="lni-linkedin"></i></a></li>
                <li><a href="#"><i class="lni-pinterest"></i></a></li>
              </ul>
            </div> <!-- header social 
          </div>
        </div>
      </div> <!-- row 
    </div> <!-- container 
  </div> <!-- header-top -->
    
   
    
    
    
    
    
    

  <div class="navigation navigation-two">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index.html">
              <img src="assets/images/logo.png" alt="Logo">
            </a> <!-- Logo -->

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                  <a class="active" href="index.html">Home</a>
                </li>
                
                <li class="nav-item">
                  <a href="department.html">Pétitions</a>

                  <ul class="sub-menu">
                    <li><a href="department.html">Présenter une pétition</a></li>
                    <li><a href="department-details.html">list des Pétitions</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#">Consultation</a>

                  <ul class="sub-menu">
                    <li><a href="about.html">List des Consultation</a></li>
                    
                   
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="blog.html">proposition</a>

                  <ul class="sub-menu">
                    <li><a href="blog.html">Présenter une proposition</a></li>
                    <li><a href="blog-details.html">list des proposition</a></li>
                  </ul>
                </li>
                  
                  <li class="nav-item">
                  <a href="about.html">About us</a>
                </li>
                  
                
              </ul> <!-- navbar-nav -->
            </div> <!-- navbar-collapse -->

           <!-- <div class="navbar-btn d-none d-sm-block">
              <a class="main-btn" href="appointment.html">Appointment</a>
            </div>-->
          </nav> <!-- navbar -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- navigation -->
</header>

<!--====== HEADER PART ENDS ======-->

<!--====== SLIDER PART START ======-->
    
<div class="container">
<section class="slider-area">
  <div class="slider-active">
    <div class="single-slider">
      <div class="slider-image bg_cover" data-overlay="4" data-animation="kenburns" style="background-image: url(assets/images/slider/p1.jpg)"></div>

      <div class="slider-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-10">
              <div class="content overflow-hidden">
                <h5 class="slider-sub-title sub-title text-center" data-animation="fadeInUp" data-delay="0.5s">Bootstrap 4 Based</h5>
                <h1 class="slider-title title text-center" data-animation="fadeInUp" data-delay="1s">Medical & Healthcare Template</h1>
                <a class="main-btn" href="#" data-animation="fadeInLeft" data-delay="1.5s">read more</a>
              </div>
            </div>
          </div> <!-- row -->
        </div> <!-- container -->
      </div> <!-- slider content -->
    </div> <!-- single  ** slider -->

    <div class="single-slider">
      <div class="slider-image bg_cover" data-overlay="4" data-animation="kenburns" style="background-image: url(assets/images/slider/p2.jpg)"></div>

      <div class="slider-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-10">
              <div class="content overflow-hidden">
                <h5 class="slider-sub-title sub-title text-center" data-animation="fadeInUp" data-delay="0.5s">Multipurpose Template</h5>
                <h1 class="slider-title title text-center" data-animation="fadeInUp" data-delay="1s">Clean Design and  Responsive Layout</h1>
                <a class="main-btn" href="#" data-animation="fadeInLeft" data-delay="1.5s">read more</a>
              </div>
            </div>
          </div> <!-- row -->
        </div> <!-- container -->
      </div> <!-- slider content -->
    </div> <!-- single slider -->

    <div class="single-slider">
      <div class="slider-image bg_cover" data-overlay="4" data-animation="kenburns" style="background-image: url(assets/images/slider/p3.jpg)"></div>

      <div class="slider-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-10">
              <div class="content overflow-hidden">
                <h5 class="slider-sub-title sub-title text-center" data-animation="fadeInUp" data-delay="0.5s">All Essential</h5>
                <h1 class="slider-title title text-center" data-animation="fadeInUp" data-delay="1s">Pages and Features  for Medical Sites</h1>
                <a class="main-btn " href="#" data-animation="fadeInLeft" data-delay="1.5s">read more</a>
              </div>
            </div>
          </div> <!-- row -->
        </div> <!-- container -->
      </div> <!-- slider content -->
    </div> <!-- single slider -->
  </div> <!-- slider active -->
</section>
</div>
<!--====== SLIDER PART ENDS ======-->


<!--====== FEATURES PART START ======-->

<section class="features-area pt-100 pb-65">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8">
        <div class="single-features text-center mt-30">
          <div class="features-icon">
            <i class="lni-write"></i>
              <!--<i class="lni-comment"></i>-->
              
          </div>
          <div class="features-content">
            <h4 class="features-title"><a href="#">
                PÉTITIONS</a></h4>
            <p class="text">La pétition est un écrit sous forme de revendications, propositions ou recommandations licites, adressé par les les citoyens  aux pouvoirs publics...</p>
            <a class="more" href="#">Read More <i class="lni-chevron-right"></i></a>
          </div>
        </div> <!-- single features -->
      </div>
      <div class="col-lg-4 col-md-8">
        <div class="single-features text-center mt-30 ">
          <div class="features-icon">
            <i class="lni-seo-consulting"></i>
          </div>
          <div class="features-content">
            <h4 class="features-title"><a href="#">CONSULTATIONS</a></h4>
            <p class="text">La rubrique consultation publique constitue une fenêtre ouverte sur les sujets et thèmes que le gouvernement veut soumettre au public pour ...</p>
            <a class="more" href="#">Read More <i class="lni-chevron-right"></i></a>
          </div>
        </div> <!-- single features -->
      </div>
      <div class="col-lg-4 col-md-8">
        <div class="single-features text-center mt-30">
          <div class="features-icon">
            <i class="lni-wechat"></i>
          </div>
          <div class="features-content">
            <h4 class="features-title"><a href="#">DÉBATS PUBLICS</a></h4>
            <p class="text">
       La rubrique débats publics fournit la possibilité d'interagir et soumettre vos avis sur les décisions et projets publics. un dialogue est déclenché par...
              
              </p>
            <a class="more" href="#">Read More <i class="lni-chevron-right"></i></a>
          </div>
        </div> <!-- single features -->
      </div>
    </div> <!-- row -->
      
    <!-- row 2 start -->
    
       <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8">
        <div class="single-features text-center mt-30">
          <div class="features-icon">
           <!-- <i class="lni-stethoscope"></i>-->
              <i class="lni-invention"></i>
              
          </div>
          <div class="features-content">
            <h4 class="features-title"><a href="#">PROPOSITIONS</a></h4>
        <p class="text">
                Cette rubrique vous permettra de déposer vos idées créatives et innovantes pour proposer des solutions et des voies de réformes au gouvernement ...</p>
            <a class="more" href="#">Read More <i class="lni-chevron-right"></i></a>
          </div>
        </div> <!-- single features -->
      </div>
      <div class="col-lg-4 col-md-8">
        <div class="single-features text-center mt-30 ">
          <div class="features-icon">
            <i class="lni-stats-up"></i>
          </div>
          <div class="features-content">
            <h4 class="features-title"><a href="#">Statistiques générales</a></h4>
            <p class="text">
                Cette rubrique vous permettra de voir des Statistiques générales pour donner une
                idée global sur le      
                site et en plus , elle vous vous permettra de voir...
              </p>
            <a class="more" href="#">Read More <i class="lni-chevron-right"></i></a>
          </div>
        </div> <!-- single features -->
      </div>
      <div class="col-lg-4 col-md-8">
        <div class="single-features text-center mt-30">
          <div class="features-icon">
            <i class="lni-first-aid"></i>
          </div>
          <div class="features-content">
            <h4 class="features-title"><a href="#">Quality & Patient Safety</a></h4>
            <p class="text">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to distribution of letters, as using.</p>
            <a class="more" href="#">Read More <i class="lni-chevron-right"></i></a>
          </div>
        </div> <!-- single features -->
      </div>
    </div> <!-- row 2 -->
  </div> <!-- container -->
    <br><br><br>
</section>
    

    

    
    


<!--====== FEATURES PART ENDS ======-->

<!--====== ABOUT PART START ======-->



<!--====== ABOUT PART ENDS ======-->

<!--====== DEPARTMENT PART START ======-->



<!--====== DEPARTMENT PART ENDS ======-->



<!--====== DOCTOR PART START ======-->



<!--====== DOCTOR PART ENDS ======-->

<!--====== TESTIMONIAL PART START ======-->



<!--====== TESTIMONIAL PART ENDS ======-->

<!--====== BLOG PART START ======-->



<!--====== BLOG PART ENDS ======-->

<!--====== CALL TO ACTION PART START ======-->



<!--====== CALL TO ACTION PART ENDS ======-->

<!--====== FOOTER PART START ======--> 
<div class="container">
  <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <h6>e-participation</h6>
            <p class="text-justify">e-participation est une platforme
                mauritanienne<br> de la participation publique .</p>
          </div>

          <div class="col-xs-6 col-md-4">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/"><i class="fa fa-chevron-right" aria-hidden="true" ></i>petition</a></li>
                
              <li><a href="http://scanfcode.com/category/front-end-development/"><i class="fa fa-chevron-right" aria-hidden="true" ></i>proposition</a></li>
                
              <li><a href="http://scanfcode.com/category/back-end-development/"><i class="fa fa-chevron-right" aria-hidden="true" ></i>Debat</a></li>
                
              <li><a href="http://scanfcode.com/category/java-programming-language/"><i class="fa fa-chevron-right" aria-hidden="true" ></i>consultation</a></li>
                
              <li><a href="http://scanfcode.com/category/android/"><i class="fa fa-chevron-right" aria-hidden="true" ></i>Statistiques</a></li>
                
              <li><a href="http://scanfcode.com/category/templates/"><i class="fa fa-chevron-right" aria-hidden="true" ></i>a propos</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-4">
            <h6>Liens Utiles</h6>
            <ul class="footer-links">
              <li><a href="#"><i class="fa fa-chevron-right" aria-hidden="true" ></i>About Us</a></li>
                
                
              <li><a href="#"><i class="fa fa-chevron-right" aria-hidden="true" ></i>Contact Us</a></li>
                
              <li><a href="#"><i class="fa fa-chevron-right" aria-hidden="true" ></i>Contribute</a></li>
                
              <li><a href="#"><i class="fa fa-chevron-right" aria-hidden="true" ></i>Privacy Policy</a></li>
                
              <li><a href="#"><i class="fa fa-chevron-right" aria-hidden="true" ></i>Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">
                Copyright &copy; 2020 <a href="#"><b> E-Participation</b></a>.Tous droits réservés.
         
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
</div>
<!--====== FOOTER PART ENDS ======-->

<!--====== BACK TO TOP PART START ======-->

<!--<a href="#" class="back-to-top"><i class="lni-chevron-right"></i><span>Back To Top</span></a>--s>

<!--====== BACK TO TOP PART ENDS ======-->

<!--====== PART START ======-->

<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">

                </div>
            </div>
        </div>
    </section>
-->

<!--====== PART ENDS ======-->


<!-- row -->











</body>

</html>
